@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes infinite-text
{
    0% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}

@keyframes slideRightToLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-500%);
    }
}
